@import 'prism/themes/prism-okaidia.css'
// Check out "bower_components/prism/themes/" for available themes
.slide1,.slide2
    width 100%
    height 100%
.s1,.s2,.s3,.s4,.s5,.s6
	background radial-gradient(orange,#ff3333)
.menu
    position absolute
    margin 0 auto
    img
        width 400px
        height 150px
.tombol
    width 100%
	margin 0 auto
	margin-top 50px
	a
        &:hover
            background-color orange
            color white
.tmbl1,.tmbl2,.tmbl3
    font-size 20px
    font-family "Lucida Sans Unicode", "Lucida Grande", sans-serif
    color black
    text-align center
    background-color #FC0
    border-color #FC0
    border-style outset
    text-decoration none
.tmbl1
    padding 5px 10px
.tmbl2
    padding 5px 11px
.tmbl3
    padding 5px 30px
.sym
	float left
	font-size 70px
	.ww1,.ww2,.ww5,.ww6
		animation: color-change 3s infinite;
	.ww3,.ww4,.ww7,.ww8
		animation: color-change1 3s infinite;
.s2
	img 
		position absolute
		margin-top 30px
		margin-left -120px
	.isi
		position absolute
	.p1
		position absolute
		font-family SuperMario
		font-size 100px
		margin-left -150px
		color blue
		margin-top 30px
	.p2
		position absolute
		font-family SuperMario
		font-size 100px
		color red
		margin-left 325px
		text-shadow 1px 1px 30px red
		color transparent
		margin-top 30px
	#box
		&:checked
			& ~ .p2
				text-shadow none
				color red
			& ~ .p1
				text-shadow 1px 1px 30px blue
				color transparent
	.cvs
		margin-top -70px
		text-align center
	canvas
		width 100px
		height 100px
		border 5px solid white
		background-color white
		position relative

.arr1
	float left
	
.arr2
	float right
.arr1,.arr2
	img
		width 70px
		height 70px
.slide3
	margin-top 60px
	text-align center
	font-family arial
	.judul1
		font-size 80px
		font-family NorthwoodHigh
		animation: color-change 1s infinite;
	li
		font-size 20px
		color black
	a
		margin-top 60px
@keyframes color-change {
    0% { color: red; }
    50% { color: blue; }
    100% { color: red; }
}
@font-face {
    font-family NorthwoodHigh
    src url("../font/Northwood_High.ttf")
}
.slide4
	text-align center
	margin-top 40px
	ul
		color black
		font-size 25px
	.l1
		color white
		font-size 40px
	a
		margin-top 100px
.slide5
	text-align left
	margin-top 20px
	ul
		color black
		font-size 25px
	.l2
		color white
		font-size 35px
	a
		margin-top 20px
.slide6
	width 80%
	height 80%
	background orange
	font-size 25px
	position absolute
	.line1
		margin-top 20px
	h2
		font-size 70px
		font-family Times new roman
		animation: color-change 1s infinite
	.line1,.line2
		h3 
			float left
			color blue
			margin-left 100px
			margin-top 8px
	a
		img
			margin-top 10px
	label
		img
			width 120px
	.line3
		h3
			color blue
	.but2
		display none
	.but1,.but2
		&:hover
			cursor pointer
	#button1
		float right
		&:checked
			& ~ .but1
				display none
			& ~ .but2
				display inline
	.tog3,.tog4
		margin-right -40px 
		&:hover
			cursor pointer
	#toggle-2
		float right
		position absolute
		width 25px
		height 25px
		&:checked 
			& ~ .tog3
				display none
			& ~ .tog4
				display inline
	.tog4
		display none
	#vol-control
		width 350px
		visibility visible
	input
		visibility hidden
@keyframes color-change1 {
	0% { color: blue; }
	50% { color: red; }
	100% { color: blue; }
}
@font-face {
	font-family SuperMario
	src url("../font/SuperMario256.ttf")
}