doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Tic Tac Toe
    link(rel='stylesheet', type='text/css', href='build/build.css')
  body
    
    article
      section
        .slide1
            marquee.sym(direction='down' width='100%' height='100%' behavior='alternate')
                marquee.w1(direction='right' scrollamount='100' behavior='alternate')
                  h X
                marquee.w2(direction='left' scrollamount='50' behavior='alternate')
                  h X
                marquee.w3(direction='right' scrollamount='90' behavior='alternate')
                  h O
                marquee.w4(direction='left' scrollamount='70' behavior='alternate')
                  h O
                marquee.w5(direction='right' scrollamount='70' behavior='alternate')
                  h X                                    
                marquee.w6(direction='left' scrollamount='90' behavior='alternate')
                  h X
                marquee.w7(direction='right' scrollamount='50' behavior='alternate')
                  h O
                marquee.w8(direction='left' scrollamount='100' behavior='alternate')
                  h O           
          .menu
            img(src='images/tictac.png')
            br
            .tombol               	
              a.tmbl1(href='#2')
                h Start Game
              br
              br
              br
              a.tmbl2(href='#3')
                h Instruction
              br
              br
              br
              a.tmbl3(href='#')
                h Option
                        
      section
        .slide2
          
      section
        
    script(src='build/build.js')
    script(src='build/tic.js')