doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Tic Tac Toe
    link(rel='stylesheet', type='text/css', href='build/build.css')
  body
    
    article
      section
        .slide1
          .menu
            img(src='images/tictac.png')
            br
            .tombol               	
              a.tmbl1(href='#2')
                h Start Game
              br
              br
              br
              a.tmbl2(href='#3')
                h Instruction
              br
              br
              br
              a.tmbl3(href='#')
                h Option
                        
      section
        .slide2
          
      section
        
    script(src='build/build.js')
    script(src='build/tic.js')