doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Tic Tac Toe
    link(rel='stylesheet', type='text/css', href='build/build.css')
  body
    
    article
      section.s1
        .slide1
            marquee.sym(direction='down' width='100%' height='100%' behavior='alternate')
                marquee.w1(direction='right' scrollamount='100' behavior='alternate')
                  h X
                marquee.w2(direction='left' scrollamount='50' behavior='alternate')
                  h X
                marquee.w3(direction='right' scrollamount='90' behavior='alternate')
                  h O
                marquee.w4(direction='left' scrollamount='70' behavior='alternate')
                  h O
                marquee.w5(direction='right' scrollamount='70' behavior='alternate')
                  h X                                    
                marquee.w6(direction='left' scrollamount='90' behavior='alternate')
                  h X
                marquee.w7(direction='right' scrollamount='50' behavior='alternate')
                  h O
                marquee.w8(direction='left' scrollamount='100' behavior='alternate')
                  h O           
          .menu
            img(src='images/tictac.png')
            br
            .tombol               	
              a.tmbl1(href='#2')
                h Start Game
              br
              br
              br
              a.tmbl2(href='#3')
                h Instruction
              br
              br
              br
              a.tmbl3(href='#6')
                h Option
                        
      section.s2
      section.s3
       .slide3
         ul
          li.judul1 Tic Tac Toe
          br
          br
          li
            i  Tic Tac Toe
            is a simple game which, if played optimally by both players, will always result in a tie. However, many players (especially younger children) still enjoy it, and Tic Tac Toe can be made significantly more complex by increasing the size of the board.
            br
          li
            a.arr1(href='#1')
             img(src='images/arrow2.png' title='Back to Menu')
            a.arr2(href='#4')
             img(src='images/arrow.png' title='Next')
      section.s4
       .slide4
         ul
          li.l1 Players
          li 2 players
          br
          li.l1 Goal
          li The goal of Tic Tac Toe is to be the first player to be the first player to get three in a row on a 3x3 grid
          li
            a.arr1(href='#3')
             img(src='images/arrow2.png' title='Previous')
            a.arr2(href='#5')
             img(src='images/arrow.png' title='Next')
      section.s5
       .slide5
         ul
          li.l2 Playing Tic Tac Toe on 3x3 Board
          li 1. X always goes first
          li 2. Players alternate placing Xs and Os on the board until either (a) one player has three in a row, horizontally, vertically or diagonally; or (b) all nine squares are filled.
          li 3. If a player is able to draw three Xs or three OS in a row, that player wins.
          li 4. If all nine squares are filled and neither player has three in a row, the game is a draw.
          li
            a.arr1(href='#4')
             img(src='images/arrow2.png' title='Previous')
            a.arr2(href='#1')
             img(src='images/arrow.png' title='Back to Menu')
      section.s6
        .slide6
          h2 OPTIONS
          .line1
            h3 Fullscreen
            input#button1(type='checkbox' onclick="toggleFullScreen()")
            label.but1(for='button1')
              img(src='images/off_button.png')
            label.but2(for='button1')
              img(src='images/on_button.png')
          br
          .line2
            h3 Mute
            input#toggle-2(type='checkbox')
            label.tog3(for='toggle-2')
              img(src='images/on_button.png' onclick="document.getElementById('player').pause()")
            label.tog4(for='toggle-2')
              img(src='images/off_button.png' onclick="document.getElementById('player').play()")
          br
          .line3
            h3 Volume
            input#vol-control(type='range' min='0' max='100' value='100' step='1')
          a.arr1(href='#1')
            img(src='images/arrow2.png' title='Previous')
    script(src='build/build.js')
    script(src='build/options.js')
